<div class="featured-work {{ custom_classes }}">
  <div class="featured-work__media">
    <div class="featured-work__image" style="background-image: url({{ image }})"></div>
    <div class="featured-work__media-type">{{ media_type }}</div>
  </div>
  <div class="featured-work__content">
    <h1 class="featured-work__title">{{ title }}</h1>
    <div class="featured-work__description">{{ description }}</div>
    <a href="{{ url }}" class="button">Explore Project</a>
  </div>
</div>
