<nav class="nav nav--media {{ media_type }}">
  <a href="/{{ left_link|lower }}" class="nav__item">{{ left_link }}</a>
  <a href="/{{ right_link|lower }}" class="nav__item">{{ right_link }}</a>
</nav>